<?php
/**
 * Ceci est un exemple de configuration, il faut le renommer en remplaçant
 * `env` par l'environnement dans lequel on compte développer (`dev` ou `prod`)
 * et en enlevant le `.dist` à  la fin du nom.
 *
 * ... et en éditant les valeurs juste en dessous.
 */

// Doctrine (db)
$app['db.options'] = array(
    'driver'   => 'pdo_pgsql',
    'charset'  => 'utf8',
    'host'     => 'localhost',
    'port'     => '5432',
    'dbname'   => '',
    'user'     => '',
    'password' => '',
);