{% extends 'layout.html.twig' %}

{% block stylesheets %} 

<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/8.4/styles/github.min.css">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">

<link rel="stylesheet" type="text/css" href="/css/markdown.css?debug=test">

<link rel="stylesheet" type="text/css" href="/css/editor/editor.css?debug=test">
<link rel="stylesheet" type="text/css" href="/css/editor/colors.css?debug=test">
<link rel="stylesheet" type="text/css" href="/css/editor/menu.css?debug=test">
<link rel="stylesheet" type="text/css" href="/css/editor/window.css?debug=test">
<link rel="stylesheet" type="text/css" href="/css/editor/z-index.css?debug=test">

{% endblock %}


{% block container %}

{# 
	Pour activer un bouton il suffit d"enlever la classe 'off' et de la remplacer la classe 'on'
	Bien évidement il faut laisser la classe 'button' 
#}
<div id="menu" class="hidden">

	<div id="autocomplete" class="button toggle off">
		<span>Autocomplétion</span>
		{# Cercle qui se déplasse en fonction de si le bouton est on ou off #}
		<div class="circle_on_off"></div>
	</div>

	<div id="tabulation" class="button toggle off">
		<span>Tabulation : Tab</span>
		{# Cercle qui se déplasse en fonction de si le bouton est on ou off #}
		<div class="circle_on_off"></div>
	</div>

	<div id="raccourcis" class="button click">Raccourcis</div>

	<div class="hide_buton down">
		<img src="img/fleche-noire-haut.png">
	</div>

</div>

<form id="composer" method="POST">
    <textarea id="input" type="text" name="markup" ></textarea>
</form>
<div id="result" ></div>

<!-- Fenetre qui contient les raccourcis -->
<div class="window hidden" id="shortcuts">
	<div class="title">
		<span>Raccourcis</span>

		<div class="close">
			<span>&#10060;</span>
		</div>
	</div>

	<div class="content">
		<div class="text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			<br>
			<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			<br>
			<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			<br>
			<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			<br>
			<br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="/js/editor/editor.js"></script>
<script type="text/javascript" src="/js/editor/function/codeQuote.js"></script>
<script type="text/javascript" src="/js/editor/function/autoComplete.js"></script>
<script type="text/javascript" src="/js/editor/function/tabulation.js"></script>
<script type="text/javascript" src="/js/editor/function/dashMode.js"></script>

<script src="https://cdn.jsdelivr.net/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		tex2jax: {inlineMath: [['\\(','\\)']]}
	});
</script>
<script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.js"></script>

<script type="text/javascript" src="/js/editor/menu/style.js"></script>

{% endblock %}
