{% extends 'layout.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/8.4/styles/github.min.css">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">

<link rel="stylesheet" type="text/css" href="/css/markdown.css?debug=test">
<link rel="stylesheet" type="text/css" href="/css/editor.css?debug=test">

{% endblock %}


{% block container %}

<form id="composer" method="POST">
    <textarea class="tabDisable" id="input" type="text" name="markup" onkeydown="change()" ></textarea>
</form>
<div id="result" ></div>

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript" src="/js/editor.js"></script>


{% endblock %}
