{% extends 'layout.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/8.4/styles/github.min.css">

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">

<link rel="stylesheet" type="text/css" href="/css/markdown.css?debug=test">
<link rel="stylesheet" type="text/css" href="/css/editor.css?debug=test">

{% endblock %}


{% block container %}

{# 
	Pour activer un bouton il suffit d"enlever la classe 'off' et de la remplacer la classe 'on'
	Bien évidement il faut laisser la classe 'button' 
#}
<div id="menu" class="hidden">

	<div class="button toggle off">
		<span>Autocomplétion</span>
		{# Cercle qui se déplasse en fonction de si le bouton est on ou off #}
		<div class="circle_on_off"></div>
	</div>

	<div class="button toggle off">
		<span>Test 1</span>
		{# Cercle qui se déplasse en fonction de si le bouton est on ou off #}
		<div class="circle_on_off"></div>
	</div>

	<div class="button toggle off">
		<span>Test 2</span>
		{# Cercle qui se déplasse en fonction de si le bouton est on ou off #}
		<div class="circle_on_off"></div>
	</div>

	<div class="button click">Raccourcis</div>

	<div class="hide_buton down">
		<img src="img/fleche-noire-haut.png">
	</div>

</div>

<form id="composer" method="POST">
    <textarea id="input" type="text" name="markup" ></textarea>
</form>
<div id="result" ></div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript" src="/js/editor/editor.js"></script>
<script type="text/javascript" src="/js/editor/function/codeQuote.js"></script>
<script type="text/javascript" src="/js/editor/function/autoComplete.js"></script>
<script type="text/javascript" src="/js/editor/function/tabulation.js"></script>
<script type="text/javascript" src="/js/editor/function/dashMode.js"></script>

<script src="https://cdn.jsdelivr.net/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		tex2jax: {inlineMath: [['\\(','\\)']]}
	});
</script>
<script type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.js"></script>

<script type="text/javascript" src="/js/editor/menu/style.js"></script>

{% endblock %}
