{% extends 'layout.html.twig' %}

{% block container %}
    {% for c in courses %}
        {{ c.current.content|markdown }}
        {% if not loop.last %}
            <hr/>
        {% endif %}
    {% else %}
        <h1>Aucun cours disponible ...</h1>
    {% endfor %}
{% endblock %}