body
{
	background-color: #FBFBFB;
}

#input {
	width: 45%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	font-family: "Courier New";
	font-size: 12.5px;
	color: #333;
	background-color: #F3F3F3;

	padding: 10px;
	box-sizing: border-box;

	/* Pour enlever les bordures par defaut du textarea */
	border: none;
    outline: none;

    /* Pour délimiter quand même avec le rendu */
    border-right: 1px solid #AAA;
}

#result
{
	position: absolute;
	width: 55%;
	top: 0;
	left: 45%;
	padding: 20px;
	padding-left: 40px;

	box-sizing: border-box;
}

/* MENU */

/* Couleurs */

	/* Très Clair */
	#menu
	{
		background-color: #FFD012;
	}

	/* Clair */
	#menu .button, 
	#menu .button.off
	{
		background-color: #f39c12;
	}

	/* Normal */
	#menu .button.off .circle_on_off
	{
		background-color: #DD9118;
	}

	/* Foncé */
	#menu .button.on
	{
		background-color: #C87F0B;
	}

	/* Très foncé */
	#menu .button.on .circle_on_off
	{
		background-color: #A96C0B;
	}

/* Transitions */

#menu .button, #menu .button .circle_on_off
{
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ie-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

/* Autres */

#menu
{
	/* Position/Size */

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;

	/* Borders/Shadows */

	box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
}

	#menu .button
	{
		/* Position/Size */

		position: relative;
		float: left;

		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;

		margin: 10px;
		margin-right: 0;

		box-sizing: border-box;

		/* Borders/Shadows */

		box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.1);
		border-radius: 25px;

		/* Colors */
		
		color: #333;

		/* Other */

		cursor: pointer;
	}

		#menu .button.off
		{
			color: #333;
		}

		#menu .button.on
		{
			color: #EEE;
		}

		#menu .button:hover
		{
			box-shadow: 0 0 7px 1px rgba(255, 255, 255, 0.5);
		}

		#menu .button span
		{
			position: relative;
		}

		#menu .button .circle_on_off
		{
			position: absolute;
			top: 0;
			height: 100%;
			border-radius: 50%;
		}

			#menu .button.off .circle_on_off
			{
				left: 0;
			}

			#menu .button.on .circle_on_off
			{
				left: 100%;
			}

/* Z-INDEX */

#menu .button span
{
	z-index: 130;
}

#menu .button .circle_on_off
{
	z-index: 120;
}

#menu
{
	z-index: 110;
}

#input
{
	z-index: 100;
}

#result
{
	z-index: 90;
}