body
{
	background-color: #FBFBFB;
}

#input 
{
	width: 45%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	font-family: "Courier New";
	font-size: 12.5px;
	color: #333;
	background-color: #F3F3F3;

	padding: 10px;
	box-sizing: border-box;

	/* Pour enlever les bordures par defaut du textarea */
	border: none;
    outline: none;

    /* Pour délimiter quand même avec le rendu */
    border-right: 1px solid #AAA;
}

#result
{
	position: absolute;
	width: 55%;
	top: 0;
	left: 45%;
	padding: 20px;
	padding-left: 40px;

	box-sizing: border-box;
}

/* MENU */

/* Couleurs */

	/* Très Clair */
	#menu, /* Fond du menu */
	#menu .hide_buton, /* Bouton pour afficher/cacher le menu */
	.window .title /* Titres des fenetres */
	{
		background-color: #5EB3EC;
	}

	/* Clair */
	#menu .button, /* Bouttons "click" */
	#menu .button.off, /* Bouttons "toggle" éteinds */
	.window .title .close
	{
		background-color: #3498db;
	}

	/* Normal */
	#menu .button.off .circle_on_off /* Cercle des bouttons éteinds */
	{
		background-color: #2980b9;
	}

	/* Foncé */
	#menu .button.on /* Bouttons "toggle" allumés */
	{
		background-color: #2980b9;
	}

	/* Très foncé */
	#menu .button.on .circle_on_off /* Cercle des bouttons allumés */
	{
		background-color: #296D99;
	}

/* Transitions */

#menu, 
#menu .button, 
#menu .button .circle_on_off,
#input,
#result,
.window .title .close
{
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-ie-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

/* Autres */

#menu
{
	/* Position/Size */

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
}

	#menu.hidden
	{
		-webkit-transform: translate(0, -100%);
		-moz-transform: translate(0, -100%);
		-ie-transform: translate(0, -100%);
		-o-transform: translate(0, -100%);
		transform: translate(0, -100%);
	}

	#menu .hide_buton
	{
		position: absolute;

		top: 100%;
		right: 20px;

		height: 40px;
		width: 60px;

		border-radius: 0 0 10px 10px;

		cursor: pointer;
	}

		#menu .hide_buton img
		{
			position: relative;

			height: 60%;
			margin: auto;

			top: 50%;
			left: 50%;
		}

			#menu .hide_buton.up img
			{
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-ie-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
			}

			#menu .hide_buton.down img
			{
				-webkit-transform: scaleY(-1) translate(-50%, 50%);
				-moz-transform: scaleY(-1) translate(-50%, 50%);
				-ie-transform: scaleY(-1) translate(-50%, 50%);
				-o-transform: scaleY(-1) translate(-50%, 50%);
				transform: scaleY(-1) translate(-50%, 50%);
			}

	#menu .button
	{
		/* Position/Size */

		position: relative;
		float: left;

		padding: 10px;
		padding-left: 20px;
		padding-right: 20px;

		margin: 10px;
		margin-right: 0;

		box-sizing: border-box;

		/* Borders/Shadows */

		box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.1);
		border-radius: 25px;

		/* Colors */
		
		color: #333;

		/* Other */

		cursor: pointer;
	}

		#menu .button.off
		{
			color: #333;
		}

		#menu .button.on
		{
			color: #EEE;
		}

		#menu .button:hover
		{
			box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.8);
		}

		#menu .button span
		{
			position: relative;
		}

		#menu .button .circle_on_off
		{
			position: absolute;
			top: 0;
			height: 100%;
			border-radius: 50%;
		}

			#menu .button.off .circle_on_off
			{
				left: 0;
			}

			#menu .button.on .circle_on_off
			{
				left: 100%;

				-webkit-transform: translate(-100%, 0);
				-moz-transform: translate(-100%, 0);
				-ie-transform: translate(-100%, 0);
				-o-transform: translate(-100%, 0);
				transform: translate(-100%, 0);
			}

/* FENETRES */

.window
{
	position: fixed;

	background-color: #FFF;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ie-transform: translate(-50%, -50%);

	/*height: 600px;*/
	width: 50%;

	box-sizing: border-box;

	border-radius: 30px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

	.window .title
	{
		position: relative;

		top: 0;
		left: 0;

		height: 70px;
		width: 100%;

		box-sizing: border-box;

		border-radius: 30px 30px 0 0; /* Le même border-radius que .window */

		color: #FFF;
		font-size: 24px;

		padding-left: 30px;
	}

		.window .title span
		{
			display: block;

			position: relative;
			top: 50%;

			transform: translate(0, -50%);
			-webkit-transform: translate(0, -50%);
			-moz-transform: translate(0, -50%);
			-o-transform: translate(0, -50%);
			-ie-transform: translate(0, -50%);
		}

		.window .title .close
		{
			position: absolute;

			height: 30px;
			width: 30px;

			right: 0; /* La même que border-radius de .window */
			top: 30px; /* La même que border-radius de .window */

			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			-ie-transform: translate(-50%, -50%);

			border-radius: 15px;

			cursor: pointer;
		}

			.window .title .close span
			{
				display: block;

				top: 50%;
				left: 50%;

				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				-ie-transform: translate(-50%, -50%);

				font-size: 20px;

				text-align: center;
			}

		.window .title .close:hover
		{
			box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.8);
		}

	.window .content
	{
		height: 500px; /* Taille de la fenetre moins taille du titre moins taille d'un border-radius de la fenetre */
		box-sizing: border-box;
		padding: 20px;
		overflow-y: auto;
	}

/* FENETRES CACHEES */

.window.hidden
{
	border-radius: 30px 30px 0 0;
	left: 150%;
}

	.window.hidden .content
	{
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

/* FENETRES ANIMATIONS */

.window,
.window .content
{
	-webkit-transition: all 0.6s ease 0.6s;
	-moz-transition: all 0.6s ease 0.6s;
	-ie-transition: all 0.6s ease 0.6s;
	-o-transition: all 0.6s ease 0.6s;
	transition: all 0.6s ease 0.6s;
}

.window
{
	-webkit-transition: left 0.6s ease 0s;
	-moz-transition: left 0.6s ease 0s;
	-ie-transition: left 0.6s ease 0s;
	-o-transition: left 0.6s ease 0s;
	transition: left 0.6s ease 0s;
}

.window.hidden,
.window.hidden .content
{
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ie-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.window.hidden
{
	-webkit-transition: left 0.6s ease 0.6s;
	-moz-transition: left 0.6s ease 0.6s;
	-ie-transition: left 0.6s ease 0.6s;
	-o-transition: left 0.6s ease 0.6s;
	transition: left 0.6s ease 0.6s;
}

/* Z-INDEX */

#shortcuts
{
	z-index: 140;
}

#menu .button span
{
	z-index: 130;
}

#menu .button .circle_on_off
{
	z-index: 120;
}

#menu .hide_buton
{
	z-index: 111;
}

#menu
{
	z-index: 110;
}

#input
{
	z-index: 100;
}

#result
{
	z-index: 90;
}