body {
  background-image: url("/img/shattered.png");
  background-repeat: repeat;
}

/*********************************
  Conteneur de la page
*/
.container {
  margin-left: auto;
  margin-right: auto; 
  width: 920px;

  background-color: rgba(255,255,255,0.7);
  padding: 20px 40px 60px;

  -moz-box-shadow: 0px 0px 10px 0px #656565;
  -webkit-box-shadow: 0px 0px 10px 0px #656565;
  -o-box-shadow: 0px 0px 10px 0px #656565;
  box-shadow: 0px 0px 10px 0px #656565;
}

body  {
  padding-top: 10px;
  padding-bottom: 70px;
  background-attachment: fixed;
  background-position: 0px 0px;
}

@media screen and (max-width: 1010px) {
  .container {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
  }

  body {
    padding: 2px;
  }
}



a {
  color: #458;
}