body {
  background-image: url("/img/noisy-texture.png");
  background-repeat: repeat;
}

/*********************************
  Conteneur de la page
*/
.container {
  margin-left: auto;
  margin-right: auto; 
  width: 920px;

  background-color: #FFF;
  padding: 20px 40px 60px;

  -moz-box-shadow: 0px 0px 10px 0px #656565;
  -webkit-box-shadow: 0px 0px 10px 0px #656565;
  -o-box-shadow: 0px 0px 10px 0px #656565;
  box-shadow: 0px 0px 10px 0px #656565;
}

body  {
  padding-top: 10px;
}

@media screen and (max-width: 1010px) {
  .container {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
  }

  body {
    padding: 2px;
  }
}

.hljs {
  -moz-box-shadow: inset 0px 0px 9px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0px 0px 9px rgba(0,0,0,0.3);
  -o-box-shadow: inset 0px 0px 9px rgba(0,0,0,0.3);
  box-shadow: inset 0px 0px 9px rgba(0,0,0,0.3);
}