.window
{
	position: fixed;

	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ie-transform: translate(-50%, -50%);

	height: 600px;
	width: 50%;
}

	.window .title
	{
		position: relative;

		top: 0;
		left: 0;

		height: 15%;
		width: 100%;

		box-sizing: border-box;

		border-radius: 30px 30px 0 0;

		color: #FFF;
		font-size: 24px;

		padding-left: 30px;
	}

		.window .title span
		{
			display: block;

			position: relative;
			top: 50%;

			transform: translate(0, -50%);
			-webkit-transform: translate(0, -50%);
			-moz-transform: translate(0, -50%);
			-o-transform: translate(0, -50%);
			-ie-transform: translate(0, -50%);
		}

		.window .title .close
		{
			position: absolute;

			height: 30px;
			width: 30px;

			right: 0; /* La même que border-radius de .window */
			top: 30px; /* La même que border-radius de .window */

			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			-ie-transform: translate(-50%, -50%);

			border-radius: 15px;

			cursor: pointer;
		}

		.window .title .close:hover
		{
			box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.8);
		}

			.window .title .close span
			{
				display: block;

				top: 50%;
				left: 50%;

				transform: translate(-50%, -50%);
				-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
				-o-transform: translate(-50%, -50%);
				-ie-transform: translate(-50%, -50%);

				font-size: 20px;

				text-align: center;
			}

	.window .content
	{
		background-color: #FFF;
		border-radius: 0 0 30px 30px;
		padding-bottom: 30px;
		height: 85%;
		box-sizing: border-box;
		overflow: hidden;
	}

		.window .content .text
		{
			position: relative;

			height: 100%;
			width: 100%;
			top: 0;
			left: 0;

			padding-left: 30px;
			padding-right: 30px;
			padding-top: 30px;

			overflow-y: auto;
			box-sizing: border-box;
		}

/* FENETRES CACHEES */

.window.hidden
{
	border-radius: 30px 30px 0 0;
	left: 150%;
}

	.window.hidden .content
	{
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
	}

/* FENETRES ANIMATIONS */

.window,
.window .content
{
	-webkit-transition: all 0.6s ease 0.6s;
	-moz-transition: all 0.6s ease 0.6s;
	-ie-transition: all 0.6s ease 0.6s;
	-o-transition: all 0.6s ease 0.6s;
	transition: all 0.6s ease 0.6s;
}

.window
{
	-webkit-transition: left 0.6s ease 0s;
	-moz-transition: left 0.6s ease 0s;
	-ie-transition: left 0.6s ease 0s;
	-o-transition: left 0.6s ease 0s;
	transition: left 0.6s ease 0s;
}

.window.hidden,
.window.hidden .content
{
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ie-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.window.hidden
{
	-webkit-transition: left 0.6s ease 0.6s;
	-moz-transition: left 0.6s ease 0.6s;
	-ie-transition: left 0.6s ease 0.6s;
	-o-transition: left 0.6s ease 0.6s;
	transition: left 0.6s ease 0.6s;
}